.layout-footer {
    background-color: #264653;
    color: #f4a261;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

/* Sidebar css start */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 90%;
    overflow: auto;
    /* border: 2px solid black; */
}

.sidebar-header {
    background-color: #146e92;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: sticky;
    top: 0;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.content {
    margin-left: 240px;
    padding: 1px 16px;
}

/* Sidebar css end */